* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global variable declaration */
:root {
  --green: #f6ee04c1;
  --pink: #ffb3dd;
  --peach: #f76f69;
  --yellow: #f7e057;
}

/* Styles */

html {
  font-size: 16px;
  font-family: "Squada One", sans-serif;
}

body {
  background-color: aqua;
}

p {
  font-family: monospace;
  padding: 0.8rem 1.5rem 1rem 1.5rem;
}

.header-container {
  display: flex;
  color: black;
  background-color: var(--yellow);
  padding: 20px 0;
}

header {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: center;
  align-items: center; /* vertical alignment */
}

.logo img {
  padding-right: 20px;
  transition: all 1s;
  /*  animation: Animate 8s; */
}

/* @keyframes Animate {
    0% { transform: translate(0%, 0);
    }
    50% {transform: translate(600%, 0) rotate(60deg);}

    100% {transform: translate (-200%, 0); }
} */

.logo img:hover {
  transform: rotate(360deg);
}

.header-text {
  display: flex;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: 3px 3px 2px beige;
}

h3 {
  text-align: center;
  color: black;
  padding: 0.3rem 0 0.5rem 0;
  text-transform: uppercase;
}

.menu-icon-ham {
  justify-content: end;
  background-color: #ffb3dd;
  padding: 0.4rem 0.4rem 0.2rem 0.4rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: #55198c;
  margin-bottom: 4px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 1rem;
  background-color: #ffb3dd;
  padding: 1rem;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-column-gap: 10px;
  max-height: auto;
  transition: all 0.5s ease-in-out;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.intro {
  grid-column: 2;
  font-size: 0.8rem;
  background-color: beige;
  padding: 1.5rem;
  color: rgb(42, 42, 42);
  font-family: monospace;
  text-align: justify;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  height: auto;
  /*  transform: translateY(0);
  transition: transform 0.2s;
  z-index: -4; */
}

.hide {
  display: none;
}

button {
  border: none;
  font-family: monospace;
  padding: 0.3rem;
  cursor: pointer;
}

.section_toggle {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-column-gap: 10px;
}

.intro_btn {
  grid-column: 2;
  padding: 0.1rem 0.5rem;
  background-color: beige;
  font-family: monospace;
  color: gray;
  width: fit-content;
  font-size: 0.8rem;
  justify-self: end;
  position: relative;
  top: -7px;
  left: -10px;
  cursor: pointer;
  border: none;
  border-bottom: #ffb3dd solid 2px;
}

.intro_btn:hover {
  color: white;
  background-color: red;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#more {
  display: none;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.grid {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  /* Adding 'wrap' forces items that don’t fit to get bumped down to the next row: */
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  row-gap: 0.5rem;
  column-gap: 0.3rem;
  margin-top: 0.5rem;
}

.column1 {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.column2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.column3 {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.grid-item {
  background-color: beige;
  justify-content: center;
  border: white 1px solid;
  width: 300px;
}

.grid-item img {
  width: 100%;
  padding: 0.2rem;
}

.grid-item:hover {
  background-color: var(--green);
}

.first-item {
  position: relative;
}

.first-item > span {
  position: relative;
  z-index: 3;
}

.first-item > span:hover {
  opacity: 0;
}

.photo-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* This is nesting insite first item that needs to be have a relative position*/
}

audio {
  display: inline;
  padding: 0.5rem;
}

.grid-item-quote {
  font-family: monospace;
  text-transform: lowercase;
  color: beige;
  line-height: 1rem;
  text-align: center;
  width: 280px;
  margin: auto;
  border-left: beige solid 5px;
  border-right: beige solid 5px;
  padding: 1rem 1.5rem;
  background-color: black;

  opacity: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.fixed-element {
  position: fixed;
  top: 80%;
  right: 0px;
  background-color: white;
  cursor: pointer;
  z-index: 3;
}

.fixed-element:hover {
  background-color: var(--green);
  border-radius: 20%;
  transition: all 2s;
}

.fixed-element img {
  transform: translate(-50%, -50%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 30% auto;
  padding: 0 1rem 1rem 1rem;
  width: 85%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

figcaption {
  font-size: 0.8rem;
  padding: 0;
  margin-top: 10px;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 3rem;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.photoModal img {
  width: 100%;
}

footer {
  background-color: var(--pink);
  /*  position: fixed;
    left: 0px;
    bottom: 0px; */
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto-fit 1fr;
  grid-column-gap: 10px;
}

.footer-item {
  grid-column: 1;
  padding: 1rem 0;
  font-family: monospace;
}

.login-sign {
  grid-column: 2;
  padding: 1rem 0;
  text-align: right;
  text-transform: uppercase;
}

/* Mobile Styles */

@media screen and (max-width: 619px) {
  .grid,
  .column1,
  .column2,
  .column3 {
    row-gap: 0.2rem;
  }

  .grid {
    margin-top: 0;
  }

  .header-container {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  }

  .header {
    justify-content: space-around;
  }

  .logo img {
    width: 55px;
  }

  .menu {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: none;
  }

  .menu li {
    line-height: 2rem;
    border-bottom: beige 1px solid;
  }

  .menu li:last-of-type {
    border-bottom: none;
  }

  a:link,
  a:visited {
    color: #55198c;
    text-decoration: none;
  }

  .ham-active1 {
    display: block;
  }

  .intro {
    line-height: 1.3rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    display: none;
  }

  h3 {
    font-size: 1.2rem;
  }

  .fixed-element {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.5rem;
  }

  .fixed-element img {
    width: 1.5rem;
    transform: translate(-50%, -50%);
  }

  .column2 {
    display: flex;
  }

  .grid-item img {
    padding: 0;
  }
}

/* Tablet Styles and (max-width: 960px)   */

@media screen and (min-width: 620px) {
  .logo img {
    width: 80px;
  }

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .menu-icon-ham {
    display: none;
  }

  .menu li {
    border-right: beige 1px solid;
    padding: 0 1rem 0 0;
  }

  .menu li:last-of-type {
    border-right: none;
  }

  a:link,
  a:visited {
    color: #55198c;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline 3px blue;
  }

  .intro {
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
    padding: 2.5rem;
  }

  .intro_btn {
    top: -13px;
    left: -15px;
    font-size: 1.2rem;
  }

  .fixed-element {
    width: 4rem;
    height: 3rem;
    padding: 1.5rem;
  }

  .fixed-element img {
    width: 2.1rem;
    transform: translate(-50%, -50%);
  }

  .column2 {
    display: none;
  }

  section {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .section_toggle {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .menu {
    font-size: 1.4rem;
  }

  figcaption {
    font-size: 1rem;
  }
}

/* Desktop Styles */

@media screen and (min-width: 961px) {
  .menu-icon-ham {
    display: none;
  }

  .intro {
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 3rem 4rem;
    /*  max-width: 75ch; */
  }

  .column2 {
    display: flex;
  }

  section {
    grid-template-columns: 3rem 1fr 3rem;
  }

  .section_toggle {
    grid-template-columns: 3rem 1fr 3rem;
  }

  .menu {
    font-size: 1.6rem;
  }

  .modal-content {
    margin: 10% auto;
    width: 60%;
  }
}

/*  max-width: 75ch; */

form {
  background-color: beige;
  padding: 2rem;
}
